MONGODB_URI="add you mongodb connection string here"
PORT=3000
NODE_ENV=development
FIREBASE_PROJECT_ID="set your firebase project id here"
FIREBASE_PRIVATE_KEY="set your firebase private key here"
FIREBASE_CLIENT_EMAIL="set your firebase client email here"

